@model FilmeMvc.Models.FilmeGeneroViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar um Novo</a>
</p>

<form asp-controller="Filmes" asp-action="Index" method="get">
<p>
    <select asp-for="FilmeGenero" asp-items="Model.Generos">
        <option value="">Todos</option>
    </select>

    Titulo: <input type="text" asp-for="StrPesquisa">
    <input type="submit" value="Filtrar" class="btn btn-primary btn-sm"/>
</p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Avaliacao)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Filmes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Exluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
